<ion-content class="app-bg-color">
  <div
    [@enter]
    style="
      display: flex;
      justify-content: center;
      align-content: center;
      height: 100%;
    "
  >
    <img
      style="margin-right: 6px; width: 26%; margin-left: -25px"
      [@slideInRightOnEnter]
      src="../../../assets/LOGOA.svg"
      alt=""
    />
    <img
      style="width: 32%; margin-left: -25px"
      [@fadeInLeftOnEnter]
      src="../../../assets/afaqyLogo.svg"
      alt=""
    />
  </div>
</ion-content>
